:root {
  --clr-primary: hsl(35, 77%, 62%);
  --clr-secondary: hsl(5, 85%, 63%);

  --clr-neutral-900: hsl(36, 100%, 99%);
  --clr-neutral-700: hsl(233, 8%, 79%);
  --clr-neutral-400: hsl(236, 13%, 42%);
  --clr-neutral-400p: hsla(236, 13%, 42%, 0.219);
  --clr-neutral-100: hsl(240, 100%, 5%);

  /*  boreder */

  --gap: 3.4rem;

  --border-1: 0.3rem solid red;
  --border-2: 0.3rem solid blue;
  --border-3: 0.3rem solid yellow;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 1.5rem;
  color: var(--clr-neutral-100);

  max-width: 123rem;
  margin: 0 auto;
  padding: 6rem 2rem;
  height: 100vh;
}

.header {
  /* position: fixed; */
  z-index: 100;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
/***** GENERAL USE ******/
.flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.margin-bb {
  margin-bottom: 6rem;
}
.margin-bs {
  margin-bottom: 2rem;
}

/* ****NAVIGATION**** */

.nav-container {
  display: flex;
  justify-content: end;
  gap: 4.8rem;
}

.nav-link {
  color: var(--clr-neutral-100);
  list-style: none;
  transition: color 0.2s;
  cursor: pointer;
}

.nav-link:hover {
  color: var(--clr-secondary);
}

/* MENU ICON*/

.menu-box {
  z-index: 1000;
  border: none;
  background-color: transparent;
  /* position: fixed; */
  right: 3rem;
  cursor: pointer;
}

.menu-icon {
  display: block;
  width: 5rem;
  height: auto;
}

.bg-transparency {
  background-color: var(--clr-neutral-400p);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;

  transition: left 0.4s;
}

.bg {
  left: -100%;
}

/***** HERO *******/

.container,
.topic__container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: var(--gap);
}

.hero {
  grid-column: 1/3;
}

.hero__image {
  width: 100%;
  margin-bottom: 3rem;
  font-weight: 800;
}

.hero__title-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 3.4rem;
}

.hero__desc-box {
  display: grid;
}

.hero__title {
  font-size: 5.5rem;
  line-height: 1;
}

.hero__desc-btn {
  display: block;
  padding: 1.5rem 2rem;
  background-color: var(--clr-secondary);
  color: var(--clr-neutral-900);
  border: none;
  font-size: 1.5rem;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.5rem;
  justify-self: start;
  align-self: end;
  transition: background-color 0.2s;
  cursor: pointer;
}

.hero__desc-btn:hover {
  background-color: var(--clr-neutral-100);
}

/***** NEWSBAR *******/

.newsbar {
  background-color: var(--clr-neutral-100);
  display: grid;
  align-items: center;
  justify-content: center;
  padding: 2.5rem;
}

h3 {
  font-size: 4rem;
  color: var(--clr-primary);
}

.newsbar__news-box {
  padding-top: 2rem;
}

.newsbar__news-box:not(:last-child) {
  padding-bottom: 2rem;
  border-bottom: 0.1rem solid var(--clr-neutral-400);
}

.newsbar__news-title {
  color: var(--clr-neutral-900);
  font-size: 2rem;
  font-weight: 700;
  margin-bottom: 1rem;
  transition: color 0.2s;
  cursor: pointer;
}

.newsbar__news-title:hover {
  color: var(--clr-primary);
}

.newsbar__news-desc {
  color: var(--clr-neutral-400);
  line-height: 1.8;
}

/***** TOPICS *****/

.topic__container {
  gap: 2rem;
}

.topic__image {
  grid-column: 1/2;
  width: 100%;
}

.topic__desc-box {
  grid-column: 2/-1;
}

.topic__desc-number {
  font-size: 3rem;
  font-weight: 700;
  color: var(--clr-neutral-700);
  margin-bottom: 1rem;
}

.topic__desc-title {
  font-size: 1.8rem;
  font-weight: 800;
  color: var(--clr-neutral-100);
  margin-bottom: 1rem;
  transition: color 0.2s;
  cursor: pointer;
}

.topic__desc-title:hover {
  color: var(--clr-secondary);
}

.topic__desc-text {
  color: var(--clr-neutral-400);
  line-height: 1.6;
}

/* HIDDEN */

.hidden {
  display: none;
}
